# =========================
# Secrets (最重要)
# =========================
firebase_key.json
serviceAccountKey.json
*.key.json
.env
.env.*

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# virtual environment
venv/
env/
.venv/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Firebase / Google Cloud
# =========================
.firebase/
firebase-debug.log

# =========================
# Build / temp
# =========================
dist/
build/
*.tmp
